@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');
:root
{
    --main-color:#EC3454;
}
body
{
    font-family: 'Cairo', sans-serif;
}
/* start navbar */
.content1
{
    background: #f6f6f6;
    padding:15px 0;
}
.content1 .container-fluid .row .col-lg-5 ul
{
    margin:0;
    padding:0;
    list-style: none;
    display: grid;
    grid-template-columns: 33.3333333% 33.3333333% 33.3333333%;
    text-align: center;
    margin-top:30px;
}
.content1 .container-fluid .row .col-lg-5 ul li a
{
    text-decoration: none;
    color:var(--main-color);
    font-size: 30px;
}
.content1 .container-fluid .row .col-lg-5 ul li form .form-group
{
    position: relative;
    margin-top:5px;
}
.content1 .container-fluid .row .col-lg-5 ul li form .form-group input
{
    border:0;
    border-radius: 5px;
}
.content1 .container-fluid .row .col-lg-5 ul li form .form-group i
{
    position: absolute;
    top:11px;
    left:11px;
    cursor: pointer;
    color:var(--main-color);
}
.content1 .container-fluid .row .col-lg-3 img
{
    width: 150px;
    display: block;
    margin: 0 auto;
}
.content1 .container-fluid .row .col-lg-4 .logo
{
    float: left;
    margin-left: 20px;
}
.content1 .container-fluid .row .col-lg-4 img
{
    width: 30px;
    display: block;
    padding-top: 30px;
    color: var(--main-color);
}
@media(max-width:768px)
{
    .content1 .container-fluid .row .col-lg-4 .logo
    { 
        position: relative;
        left:38%;
    }
}
/* end navbar */
/* start content2 */
.content2
{
    padding:100px 0;
    background: url('../imgs/bg img.png');
    background-size: cover;
    text-align: center;
}
.content2 .container .row .col-lg-12 .register
{
    width:70%;
    margin:0 auto;
    box-shadow: 1px 2px 5px rgba(0,0,0,.5);
    margin-top:60px;
    padding:60px;
    position: relative;
}
.content2 .container .row .col-lg-12 .register .user-image img
{
    position: absolute;
    top:0px;
    left:50%;
    transform: translate(-50%,-50%);
    display: block;
    width:150px;
    height:150px;
    margin:0 auto;
}
.content2 .container .row .col-lg-12 .register form
{
    margin-top:100px;
}
.content2 .container .row .col-lg-12 .register form .form-group
{
    margin-bottom:30px;
}
.content2 .container .row .col-lg-12 .register form input,
.content2 .container .row .col-lg-12 .register form select
{
    width:100%;
    border:0;
    padding:15px 30px;
    background: #f1f1f1;
    border-radius: 25px;
}
.content2 .container .row .col-lg-12 .register form select
{
    padding: 0 30px;
    height: 60px;
    font-size: 20px;
    color:grey;
}
.content2 .container .row .col-lg-12 .register form p
{
    color:rgb(51, 18, 78);
    text-align: right;
    font-size: 14px;
    font-weight: bold;
    padding-bottom:60px;
}
.content2 .container .row .col-lg-12 .register form p span
{
    color:var(--main-color);
}
.content2 .container .row .col-lg-12 .register form .enter
{
    background: linear-gradient(to bottom , #dd2b52 , #af124b);
    text-decoration: none;
    color:#fff;
    font-size: 25px;
    padding:10px 120px;
    border-radius:35px;
    display: inline-block;
    margin-bottom:30px;
}
.content2 .container .row .col-lg-12 .register form .upload
{
    display: flex;
    align-items: center;
}
.content2 .container .row .col-lg-12 .register form .upload span
{
    color:rgb(51, 18, 78);
    font-size: 20px;
    margin-left: 20px;
}
.content2 .container .row .col-lg-12 .register form .upload img
{
    width:150px;
    height:100px;
}
@media(max-width:768px)
{
    .content2 .container .row .col-lg-12 .register 
    {
        width:100%;
        padding:30px;
    }
    .content2 .container .row .col-lg-12 .register form a
    {
        width:100%;
    }
    .content2 .container .row .col-lg-12 .register form span
    {
        margin-bottom:20px;
        display: inline-block;
    }
    .content2 .container .row .col-lg-12 .register form a.enter
    {
        display: block;
        margin:0 auto;
        text-align: center;
    }
    .content2 .container .row .col-lg-12 .register form .upload 
    {
        display: block;
    }
}
/* end content2 */
/* start footer */
.footer
{
    background: url('../imgs/footerbg.png');
    background-size: cover;
    color:#fff;
    padding:50px;
}
.footer .text
{
    text-align: right;
}
.footer .text .edit
{
    display: flex;
    margin-bottom:30px;
}
.footer .text .edit h4
{
    margin-right: 15px;
    padding-top:15px;
}
.footer .text p
{
    width:60%;
}
.footer .text .icons a
{
    text-decoration: none;
    color:#fff;
    font-size: 30px;
    margin-left: 20px;
}
.footer .text .icons a .fa-facebook-f
{
    background: #fff;
    color:rgb(51, 18, 78);
    padding:10px 17px;
    border-radius: 50%;
}
.footer .sofra
{
    width:50%;
    display: block;
    float: left;
}
@media(max-width:768px)
{
    .footer .text p
    {
        width:100%;
    }
    .footer .sofra
    {
        width:100%;
        margin-top:50px;
    }
}
/* end footer */